{% extends "layout/layout.html" %}

{% block body %}
        <div id = "main_content">
            <h2>Hello !</h2>
            <p id="info">I'm Ayaan ,a First Year undergraduate Computer Engineering student at Zakir Husain College Of Engineering And
                Technology <b>(ZHCET, AMU)</b> at Aligarh. I completed my Highschool from
                <b>St. Aloysius College , Pilibhit</b> and my Intermediate from <b>Ben-Hur Public School, Pilibhit.</b>
                I always find myself intrested in Programming, Learning new programming languages, Software development,
                Android development, Machine Learning, Artificial Intellegence. However i don't know all this these
                right now i am still in learning process.
            </p>
            <h3 id ="contact">
                Contact Me
            </h3>
            <ul>
                <li>You can reach me at : <a href="mailto:ayaankhan98@gmail.com">ayaankhan98@gmail.com</a></li>
            </ul>
            <h3 id ="links">
                    Links
                </h3>
                <ul>
                    <li><a href="http://www.github.com/ayaankhan98">Github</a></li>
                    <li><a href="http://www.github.com/ayaankhan98">LinkedIn</a></li>
                </ul>
        </div>
{% endblock %}
        